:root {
    --background: #202020;
    --white: #f0f0f0;
    --button: #404040;
    --border: #303030;
    --f: #b2c9c2;
}

@font-face {
    font-family: aldrich;
    src: url(./aldrich.ttf);
}

@font-face {
    font-family: bomb;
    src: url(./bomb.otf);
}

* {
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0 0 16px 0;
}

nav {
    display: flex;
    gap: 3px;
    background-color: var(--background);
}

nav>div,
nav>a {
    display: flex;
    flex: 1 1 0;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    background-color: var(--button);
    cursor: pointer;
}

nav>div:hover,
nav>a:hover,
ideology:hover,
poliideology:hover,
.buttonGroup button:hover,
#equalizationButton:hover,
#randomizationButton:hover,
#ideologizationButton:hover,
#diploDownload:hover,
#toleranceSlider:hover,
#portraitTools button:hover,
.backgroundContainer:hover {
    filter: brightness(1.1);
}

#logo {
    display: flex;
    gap: 8px;
}

#logo img {
    height: 32px;
    width: 32px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.navButton {
    justify-content: center;
}

#diploSection {
    display: grid;
    grid-template-columns: 564px 1fr;
    grid-template-rows: 310px min-content;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
#poliSection {
    display: grid;
    grid-template-columns: 564px 1fr;
    grid-template-rows: 482px min-content;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#diploScreenshot {
    width: 532px;
    height: 311px;
    grid-area: 1 / 1 / 2 / 2;
}
#poliScreenshot {
    width: 541px;
    height: 481px;
    grid-area: 1 / 1 / 2 / 2;
}

#diploFront,#poliFront {
    position: absolute;
    z-index: 2;
}

#diploOverlay {
    display: block;
    position: absolute;
    z-index: 1;
    width: 532px;
    height: 311px;
    background-image: url(./diploOverlay.png);
}
#poliOverlay {
    display: block;
    position: absolute;
    z-index: 1;
    width: 541px;
    height: 481px;
    background-image: url(./politicalOverlay.png);
}

#diploBack,#poliBack {
    position: absolute;
    z-index: 0;
}

#flagOverlay {
    display: block;
    position: absolute;
    width: 86px;
    height: 64px;
    left: 33px;
    top: 81px;
    background-image: url("./flagOverlay.png");
}
#flag {
    display: block;
    position: absolute;
    width: 82px;
    height: 52px;
    left: 33px;
    top: 86.5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Flag.png);
    background-color: #000;
}
#icon {
    display: block;
    position: absolute;
    width: 66px;
    height: 66px;
    left: 151px;
    top: 81px;
    background-image: url(./icon/Despotism/Absolute\ Monarchy.png);
}
#poliicon {
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    left: 333px;
    top: 247px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./icon/Despotism/Absolute\ Monarchy.png);
}

#topNames {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 224px;
    top: 87px;
    color: var(--white);
    font-family: bomb;
    font-size: 16px;
    letter-spacing: -0.1px;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;    width: 280px;
    width: 280px;
}
#polileader {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 6px;
    top: 261px;
    color: var(--white);
    font-family: bomb;
    font-size: 18px;
    letter-spacing: 0px;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;    width: 280px;
    justify-content: center;
    align-items: center; /* Ensures vertical centering */
    position: absolute;
    text-align: center;
    width: 152px;
}

#country {
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#faction {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#leader {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#stability {
    left: 425px;
}

#warSupport {
    left: 466px;
}

.unity {
    position: absolute;
    width: 34px;
    top: 22px;
    color: var(--f);
    font-family: aldrich;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: center;
    cursor: text;
    text-shadow: 0 -1px 0 black;
}

#bottomNames {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
    position: absolute;
    left: 245px;
    top: 167px;
    color: var(--f);
    font-family: aldrich;
    font-size: 17px;
    letter-spacing: 0.1px;
    text-shadow: 0 -1px 0 black;
    width: 270px;
}

#party {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#poliparty {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 379px;
    top: 250px;
    color: var(--f);
    font-family: aldrich;
    font-size: 17px;
    letter-spacing: 0.2px;
    text-shadow: 0 -1px 0 black;
    width: 154px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#polisubideology {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 379px;
    top: 268px;
    color: var(--f);
    font-family: aldrich;
    font-size: 13.8px;
    letter-spacing: 0.2px;
    text-shadow: 0 -1px 0 black;
    width: 154px;
}
#election {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#portraitBackground {
    display: block;
    position: absolute;
    width: 115px;
    height: 155px;
    left: 16px;
    top: 161px;
    background-image: url(./portraitBackground/General.png);
}

#poliportraitBackground {
    display: block;
    position: absolute;
    width: 115px;
    height: 155px;
    left: 16px;
    top: 161px;
    background-image: url(./portraitBackground/General.png);
}
#portrait {
    display: block;
    position: absolute;
    width: 115px;
    height: 155px;
    top:-10px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./Puzak.png);
}

#poliportrait {
    display: block;
    position: absolute;
    width: 156px;
    height: 210px;
    top:-110px;
    left:-12px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./Puzak.png);
}

#pieChart {
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 155px;
    top: 162px;
    border-radius: 100%;
    transform: scaleX(-1) rotate(-90deg);
    transform-origin: center;
}
#polipieChart {
    display: block;
    position: absolute;
    width: 142px;
    height: 142px;
    left: 361px;
    top: 308px;
    border-radius: 100%;
    transform: scaleX(-1) rotate(-90deg);
    transform-origin: center;
}

#topButtons,#politopButtons {
    color: var(--white);
    font-family: aldrich;
    font-size: 20px;
}

#focusIcon {
    display: block;
    position: absolute;
    width: 94px;
    height: 76px;
    left: 143px;
    top: 238px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./Focus.png);
}
#polifocusIcon {
    display: block;
    position: absolute;
    width: 86px;
    height: 69px;
    left: 175px;
    top: 64px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./Focus.png);
}

#focus {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures vertical centering */
    position: absolute;
    width: 232px;
    height: 34px;
    left: 244px;
    top: 244px;
    color: var(--f);
    font-family: aldrich;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding: 9px 21px ;
}
#polifocus {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures vertical centering */
    position: absolute;
    width: 172px;
    height: 18px;
    left: 292px;
    top: 79px;
    color: var(--f);
    font-family: aldrich;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: center;
    padding: 9px 21px ;
}
#polihog {
    display: block;
    position: absolute;
    width: 65px;
    height: 67px;
    left: 35px;
    top: 320px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./minister.png);
}

#polifor {
    display: block;
    position: absolute;
    width: 65px;
    height: 67px;
    left: 35px;
    top: 410px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./minister.png);
}

#polieco {
    display: block;
    position: absolute;
    width: 65px;
    height: 67px;
    left: 135px;
    top: 410px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./minister.png);
}

#polisec {
    display: block;
    position: absolute;
    width: 65px;
    height: 67px;
    left: 235px;
    top: 410px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./minister.png);
}

#diploIdeologyMenu,#poliIdeologyMenu {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 0 0;
}

.picker {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

ideology,poliideology,faction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--button);
    padding: 8px;
    border-radius: 8px;
    color: var(--white);
    text-align: center;
    font-family: aldrich;
    font-weight: 600;
    font-size: 12px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    letter-spacing: .5px;
    border: 3px solid var(--border);
    outline-offset: -6px;
}

ideology:active,
poliideology:active,
faction:active
.buttonGroup button:active,
#equalizationButton:active,
#randomizationButton:active,
#ideologizationButton:active,
#diploDownload:active,
#portraitTools button:active {
    filter: brightness(.9);
}

ideology img {
    width: 66px;
    height: 66px;
}

ideology div {
    display: flex;
    align-items: center;
    height: 32px;
}

ideology div {
    display: flex;
    align-items: center;
    height: 100px;
}



faction img {
    width: 66px;
    height: 66px;
}

faction div {
    display: flex;
    align-items: center;
    height: 32px;
}

faction div {
    display: flex;
    align-items: center;
    height: 100px;
}

.title {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 3px;
    cursor: auto;
}

.polititle {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 3px;
    cursor: auto;
}

#ideologyDescription,#poliideologyDescription,
#polisubideologyDescription,
#subideologyDescription,
#factionDescription,
#statusDescription {
    background-color: var(--button);
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
    color: var(--white);
    padding: 12px;
}

#subideologyDescription,#polisubideologyDescription,
#statusDescription {
    font-size: 12px;
    font-weight: 500;
}

#diploTools,#poliTools {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#diploTools>*,#poliTools>* {
    flex: none;
}

.buttonGroup,.polibuttonGroup {
    display: flex;
    gap: 8px;
    flex-grow: 1;
}
.buttonGroup button/*,.polibuttonGroup button*/ {
    border: none;
    border-radius: 3px;
    font-family: aldrich;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    color: var(--white);
    background-color: var(--button);
    cursor: pointer;
    padding: 12px;
    width: 100%;
    height: 48px;
}

.polibuttonGroup button {
    border: none;
    border-radius: 3px;
    font-family: aldrich;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    color: var(--white);
    background-color: var(--button);
    cursor: pointer;
    width: 100%;
    height: 48px;
}

#popularityTools button,
#diploDownload,#polipopularityTools button,
#poliDownload {
    border: none;
    border-radius: 3px;
    font-family: aldrich;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .5px;
    color: var(--white);
    background-color: var(--button);
    cursor: pointer;
    padding: 12px;
    width: 100%;
}

#popularityTools,#polipopularityTools {
    height: -20px;
}

#popularityInputs,#polipopularityInputs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 8px 0;
    justify-content: center;
}

.percentageControl {
    display: flex;
    align-items: center;
}

.percentageControl input {
    padding: 8px;
    border: none;
    border-radius: 6px;
    width: 44px;
    border: solid 2px var(--background);
    background-color: var(--white);
    transition: .15s;
    color: var(--background);
}

.percentageControl div {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: solid 2px var(--background);
    margin-left: 3px;
    transition: .15s;
}

.percentageControl div:hover {
    filter: brightness(1.1);
    z-index: 1;
}

.percentageControl div:active {
    filter: brightness(.9);
    z-index: 1;
}

input:disabled {
    background-color: var(--button);
    color: var(--white);
}

#country,
#faction,
#leader,
.unity,
#party,
#election,
#focus,
#policountry,
#polifaction,
#polileader,
#poliparty,
#polielection,
#polifocus {
    cursor: text;
}


@media screen and (max-width: 1120px) {

    #diploSection,
    #poliSection {
        display: flex;
        flex-direction: column;
    }
    #diploTools,
    #diploIdeologyMenu {
        padding: 0 16px;
    }

    #popularityInputs {
        gap: 16px;
        margin: 8px 0;
    }

}

